
.no-record-found {
    width: 97%;
    height: 40px;
    background-color: #f2f1f2;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    color: darkred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: cursive;
}
    
